<form #addUserForm="ngForm">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <h2 mat-dialog-title>Nutzer hinzufügen</h2>
  <mat-dialog-content>
    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Vorname</mat-label>
        <input [disabled]="loading" #firstname="ngModel" minlength="2" [(ngModel)]="user.firstName" matInput
          placeholder="First name" name="firstName" required>
        <mat-error *ngIf="firstname.invalid && firstname.touched">Bitte min 2 Zeichen eingeben</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nachname</mat-label>
        <input #lastName="ngModel" [disabled]="loading" minlength="2" [(ngModel)]="user.lastName" matInput
          placeholder="Last name" name="lastName" required>
        <mat-error *ngIf="lastName.invalid && lastName.touched">Bitte min 2 Zeichen eingeben</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>email</mat-label>
        <input #email="ngModel" [disabled]="loading" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          [(ngModel)]="user.email" matInput placeholder="email" name="email" required>
        <mat-error *ngIf="email.invalid && email.touched">Bitte eine gültige Email eingeben
          (jemand&#64;example.de)</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Birth Date</mat-label>
        <input #birthdate="ngModel" [disabled]="loading" [(ngModel)]="birthDate" matInput placeholder="Placeholder"
          [matDatepicker]="picker1" name="birthDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)=" this.dialogRef.close()" mat-button name="cancel">Cancel</button>
    <button
      [disabled]="!firstname.valid || !lastName.valid || !email.valid || !birthdate.valid"
      mat-button (click)="saveUser()" cdkFocusInitial name="saveBtn">Save</button>
  </mat-dialog-actions>

</form>