<div class="sign-up-container">
    <mat-icon routerLink="/" class="back-arrow">arrow_back</mat-icon>
    <div class="sign-up-form">
        <div class="headline">
            <h1>Sign Up</h1>
        </div>
        <form (ngSubmit)="createAccount(signupForm)" #signupForm="ngForm">
            <mat-progress-bar *ngIf="authService.loading" mode="indeterminate"></mat-progress-bar>
            <mat-form-field>
                <mat-label>Vorname</mat-label>
                <input #firstName="ngModel" minlength="2" [(ngModel)]="authService.account.firstName" matInput
                    name="firstName" required>
                <mat-error *ngIf="firstName.invalid && firstName.touched">Der Vorname muss mindestens aus 2 Zeichen
                    bestehen</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nachname</mat-label>
                <input #lastName="ngModel" minlength="2" [(ngModel)]="authService.account.lastName" matInput
                    name="lastName" required>
                <mat-error *ngIf="lastName.invalid && lastName.touched">Der Nachname muss mindestens aus 2 Zeichen
                    bestehen</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input #email="ngModel" pattern="[^@]+@[^\.]+\..+" [(ngModel)]="authService.account.email" matInput
                    placeholder="yourmail@example.com" name="email" required>
                <mat-error *ngIf="email.invalid && email.touched">Bitte eine gültige Email-adresse eingeben</mat-error>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Passwort</mat-label>
                <input #password="ngModel" minlength="5" pattern="^(?=.*[0-9])(?=.*[\W_]).{8,}$"
                    [(ngModel)]="authService.account.password" matInput [type]="hide ? 'password' : 'text'"
                    name="password" required>
                <mat-error *ngIf="password.invalid && password.dirty">Password muss mindestens aus 8 Zeichen, ein
                    Sonderzeichen und einer Zahl bestehen.
                    haben</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button [disabled]="!firstName.valid || !lastName.valid || !email.valid || !password.valid  "
                mat-raised-button name="btn" color="primary">Create account</button>
        </form>

    </div>
</div>