.map-container {
  display: flex;
  justify-content: space-between;
  border-radius: 8px !important;
  height: 300px;
  z-index: 2;
  position: relative;
  background-color: white;
  border: 8px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
}

.custom-infowindow {
  color: black;
  font-size: 14px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  cursor: pointer;
}

map-info-window {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;

  >img {
    width: 40px;
  }

  >p {
    cursor: pointer;
  }
}

.statistic-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45%;

  div {
    width: 48%;

    canvas {
      flex-grow: 1;
    }

  }
}